/* ////////////////////////////////////////////////////////////////////////////
// Global: 
//////////////////////////////////////////////////////////////////////////// */
body {
  background-color: #1c1d25;
  color: #fff;
}

/* ////////////////////////////////////////////////////////////////////////////
// Covers: 
//////////////////////////////////////////////////////////////////////////// */
#screen-cover
,#screen-cover2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#screen-cover {
  background-color: #F16227;
  z-index: 14;
}
#screen-cover2 {
  background-color: #1f1f1f;
  z-index: 10;
}

/* ////////////////////////////////////////////////////////////////////////////
// Pages: 
//////////////////////////////////////////////////////////////////////////// */
article.article {
  height: 100vh;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.height-100 {
  height: 100%;
}
span.title-text {
  font-size: 35px;
}
span.title-subtext {
  font-size: 18px;
}
.article-title {
  font-family: 'League Spartan', 'Helvetica', 'Arial', sans-serif;
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#intro-title {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.video-container {
  position: relative;
  display: block;
}
#article_0 {
  background-color: #1c1d25;
  color: #fff;
}
#article_1 {
  background-color: #F16227;
  color: #fff;
}
#article_2 {
  background-color: #1f1f1f;
  color: #fff;
}
article.article:hover .article-title
, article.article:focus ~ .article-title {
  /**/
}
#video-bg {
  height: 100%;
  width: auto;
}

/* ////////////////////////////////////////////////////////////////////////////
// Nav: 
//////////////////////////////////////////////////////////////////////////// */
#nav-bar {
  font-family: 'League Spartan', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
  height: 80px;
  z-index: 12;
}
.nav-content {
  width: 1000px;
  margin: 0 auto;
}
.nav-links {
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
  top: 25px;
  color: #fff;
  opacity: 0;
}
.nav-links .nav-link-item {
  display: inline-block;
  margin-left: 20px;
}
.nav-links a {
  color: #b0b2c3;
  padding: 10px;
  transition: color .35s ease;
  text-decoration: none;
  position: relative;
}
.nav-links a:hover {
  color: #fff;
}
.nav-links a:before
, .nav-links a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2;
}
.nav-links a:hover:before
, .nav-links a:hover:after {
  width: 100%;
  left: 0;
}
.nav-links a:before {
  background-color: #fff;
  transition: all .25s cubic-bezier(.694,.048,.335,1) .15s;
}
.nav-links a:after {
  background-color: #F16227;
  transition: all .25s cubic-bezier(.694,.048,.335,1);
}

/* ////////////////////////////////////////////////////////////////////////////
// Trending Topics: 
//////////////////////////////////////////////////////////////////////////// */
.trending-topics {
    height: 190px;
    width: 340px;
    color: white;
    font-size: 17px;
    text-align: left;
    position: absolute;
    right: 12%;
    bottom: 120px;
    background-color: rgba(35,31,32,1.0);
    padding: 35px 20px;
    z-index: 1;
    opacity: 0;
}
@media screen and (max-width: 47.999em) {
    .trending-topics {
        width: 90%;
        left: 5%;
        top: 460px;
        font-size: 16px;
        padding: 15px 20px;
        height: 150px;
    }
}
.trending-topics-header {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.trending-topics a {
    display: block;
    transition: color 120ms linear;
    transition: left .4s, color 2.4ms;
    left: 8px;
    position: relative;
    text-decoration: none;
    color: #6bb5f5;
    line-height: 1.8em;
}
.trending-topics a:focus, .trending-topics a:hover {
    left: 15px;
    color: #a3d3fd;
}
.trending-topics a:before {
    content: "→";
    margin-right: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////
// Scrolling 
//////////////////////////////////////////////////////////////////////////// */
#scrollBg {
  position: fixed;
  width: 25px;
  height: 50px;
  cursor: pointer;
  bottom: 20px;
  right: 8px;
}
#scrollIcon {
  visibility: inherit;
  opacity: 1;
  height: 100%;
  width: 100%;
}
#lineDotsW {
  right: 10px;
  bottom: 50px;
  width: 3px;
  height: 23px;
  position: absolute;
  -moz-background-size: 3px 4px;
  -o-background-size: 3px 4px;
  -webkit-background-size: 3px 4px;
  background-size: 3px 4px;
  background-image: url(../img/dotsNextW.png);
  opacity: 1;
  visibility: inherit;
  background-repeat: repeat-y;
}
#upScrollArrow {
  position: fixed;
  cursor: pointer;
  left: 50%;
  top: 10px;
  width: 30px;
  height: 30px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#downScrollArrow {
  position: fixed;
  cursor: pointer;
  left: 50%;
  bottom: 10px;
  width: 30px;
  height: 30px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.opaque {
  opacity: 0 !important;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.scrollToTop{
    width:45px; 
    height:45px;
    padding:10px; 
    text-align:center; 
    text-decoration: none;
    position:fixed;
    top:80%;
    right:0px;
    z-index:9;
    background: url('../img/small-up-arrow.png') #FFFFFF no-repeat 15px 17px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    display:none;
}
.scrollToTop:hover{
    text-decoration:none;
}

/* ////////////////////////////////////////////////////////////////////////////
// NxJ Animation NXJ
//////////////////////////////////////////////////////////////////////////// */
/*.logo-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-top: -40px;
}
.letters {
  position: relative;
  display: flex;
  width: 83px;
  height: 62px;
}
.letter {
  position: relative;
  width: 40px;
  height: 40px;
}
.letter:not(:first-child) {
  margin-left: -10px;
}
.letter-j {
  z-index: 1;
  margin-left: -20px !important;
  width: 20px;
  height: 61px;
  transform-origin: 100% 50%;
}
.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: scale(0);
}
.dot-j {
  top: -5px;
  left: 60px;
}
.dot-e {
  bottom: 28px;
  right: 0;
}*/

/* ////////////////////////////////////////////////////////////////////////////
// NxJ Animation ICON
//////////////////////////////////////////////////////////////////////////// */
.logo-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-top: -50px;
}
.letters {
  position: relative;
  display: flex;
  width: 61px;
  height: 76px;
}
.letter {
  position: relative;
  width: 61px;
  height: 61px;
  margin-top: 15px;
}
.dot-top {
  position: absolute;
  width: 13px;
  height: 13px;
  transform: scale(0);
}
.dot-top {
  top: 0;
  left: 24px;
}
.dot-end {
  position: absolute;
  width: 10.5px;
  height: 11px;
  transform: scale(0);
}
.dot-end {
  top: 50px;
  left: 47px;
}

/* ////////////////////////////////////////////////////////////////////////////
// Resources 
//////////////////////////////////////////////////////////////////////////// */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/LeagueSpartan-Bold.otf');
}